*conf.ini
*.ses.*
config.pro
trail.txt.*
std.out
_deleted/
config/
requirements/
designs/
dashboard/
log/
test-benches/
stats/
results/
merged/
design-space/
tmp/
Example\ Components/
index.html
*.mga
manifest.project.json
export_for_dashboard_scoring.py
material_library.json
*.pyc
nosetests.xml
